@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Work+Sans:ital,wght@0,300;0,900;1,100;1,900&display=swap');
.App {
  min-height: 100vh;
  display: flex;
  background-position: center;
  background-image:url("./background.png");
  background-size: cover;
  background-position: center;
}